{% extends '::base.html.twig' %}
{% block body %}
    <h1>Oops!</h1>
        <h2>"{{ status_code }} {{ status_text }}".</h2>
        <div>La page que vous recherchez est inaccessible.</div>
{% endblock %}
