{% extends '::base.html.twig' %}
{% block body %}

    <div class="ecureuil">
        <button><a href="{{ path('eleve_list_les_ecureuils') }}"><span><em>Ecole<br/>"Les Ecureuils"</em></span></a></button>
    </div>

    <div class="fleur">
        <button><a href="{{ path('eleve_list_notre_dame') }}"><span><em>Ecole<br/>Notre Dame<br/>des Fleurs</em></span></a></button>
    </div>

    <div class="roland">
        <button><a href="{{ path('eleve_list_roland_garros') }}"><span><em>Ecole<br/>"Roland-Garros"</em></span></a></button>
    </div>

{% endblock %}