{% extends '::base.html.twig' %}
{% block body %}

    <div class="ecureuil">
        <button><span><em>Ecole<br/>"Les Ecureuils"</em></span></button>
    </div>

    <div class="fleur">
        <button><span><em>Ecole<br/>Notre Dame<br/>des Fleurs</em></span></button>
    </div>

    <div class="roland">
        <button><span><em>Ecole<br/>"Roland-Garros"</em></span></button>
    </div>

{% endblock %}