{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h3>Soyez le bienvenue !</h3>
        <button><a href="{{ path('wcs_gesty_dashboard') }}">Voir les details</a></button>

    </div>
{% endblock %}