{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h3>Soyez le bienvenue !</h3>
        <a href="{{ path('wcs_cantine_dashboard') }}"><input type="button" value="Voir les details"></a>

    </div>
{% endblock %}