/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/
/web/bundles/wcscantine/uploads/*
.idea/*
/bash
composer.lock
.bash_profile
