.barre__footer
{
    color: black;
    text-align: center;
    font-size: 1.2em;
    border-top: 1px solid #C5BDB5;
    margin-top: 70px;
    padding: 30px 0 10px;

}
.navbar-default{
    background-color: #F6773D;
    border-bottom: solid 4px #f4550c;

}
.navbar-fixed-top{
    position:fixed;
    right: 0;
}
.navbar-header a{
    margin-left: 100px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Carter One', cursive;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: white;
}

.panel-heading {
    color:#5CAB18;
    font-family: 'Carter One', cursive;
    background-color: inherit;
    margin-bottom: -20px !important;
}
.panel  {
    border: transparent;
    margin-bottom: 50px;
    /* height: 200px; */
    box-shadow: none!important;
}
.panel-info>.panel-heading,
.panel-success>.panel-heading{
    background-color: transparent;
    border: none;


}
.panel-title{
    color: #5CAB18;
    font-size:22px;
    text-align: center;
    margin-bottom: 30px;

}
.panel-body{
    height: 700px;
    text-align: center;
    margin-left: 30px;
    display: block;
    padding: 25px;

}
.panel-default{
    border-color: #ddd;

}
.panel-body-1{
    box-sizing: inherit;
    text-align:left;
    padding:15px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    border: 1px solid #F5F5F5;
    border-top-width: 0;
}
label {
    font-family: 'Open Sans';
    display: inline-block;
    max-width: 80%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333333;
}
input[type=checkbox] {
    margin-right:10px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}
.btn-primary{
    color: #fff;
    background-color: #5CAB18;
    border-color: #509515;
    -webkit-appearance: textfield;
    padding: 9px;
    margin-top: 20px;

}
.btn-primary:hover {
   background-color:  #335f0d;

}
.btn-success{
    padding:10px;
    margin-top: 55px !important;
    background-color: #5CAB18;
}
.btn-success:hover{
    background-color:  #335f0d;
}
p{
    diplay:block;
    text-align: left;
    color: dimgrey;

}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    width: 1170px;
    margin: 80px auto;
    font-size: 18px;
}
.welcome {
    font-family: 'Carter One';
    margin: 90px auto;
    text-align: center;
    color: #7A2903;
}
.center-block {
    max-height: 200px;
    margin-bottom: 20px;
}
#logout{
    float:right;
    font-size: 1.8em;
    margin-right: 20px;
    margin-top: 5px;
    color: white;
}
.fa-phone{
    margin-right: 5px;
}
.body{
    font-size: 16px;
}
.school button
{
    border-style: ridge;
    border-radius: 1px;
    padding:50px;
    width:350px;
    height:130px;
    overflow:visible;
    text-align:center;
    white-space:nowrap;
    margin-bottom: 20px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 ;
}
/*
.school{
    width:350px;
    margin:auto;
}*/

.school-1 button
{
    background: #f5f4e9;
}
.school-2 button
{
    background:#f5f4e9;

}
.school-0 button
{
    background:#f5f4e9;
}

button span, button em
{
    display:inline-block;
    height:90px;
    line-height:20px;
    margin:5px;
    color:black;
    font-size: 16px;
    font-family: 'Carter One', cursive;

}
button span
{
    padding-left:20px;
    background: no-repeat 0 0;
}

button em
{
    font-style:normal;
    padding-right:20px;
    background: no-repeat 100% 0;
}


.todayList {
    font-weight: bold;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    border-top: 1px solid #7A2903 !important;
}

.commentaires {
    width: 100%;
    margin-bottom: 10px;
}

.commentaires,
.btn__envoyer
{
    float: left;
}
.fa-2x{
    float:left;
}

.informations__familles
{
    padding: 10px;
    box-shadow: 0px 0px 10px 5px #cfcfcf;
}

.created__at
{
    font-size: small;
}
.alert-success{
    text-align:center;
}

.btnAjouter {
    margin-bottom: 10px !important;
    margin-top: -5px !important;
}

.eleveAjoute {
    font-family: 'Carter One';
    text-align: center;
    color: #5CAB18;
}
.validation{
    font-family: 'Carter One', cursive;
    margin-top: 10px;
}
.commande button{
    border-style: ridge;
    border-radius: 1px;
    padding:50px;
    width:350px;
    height:130px;
    overflow:visible;
    text-align:center;
    white-space:nowrap;
    margin-bottom: 20px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 ;
    background: #D2CCDE;
}

.eleve {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
}

.eleve_tabs {
    padding:0;
    margin:0;
    margin-top:20px;
    text-align: left;
    border-bottom:1px solid #DDD;
    height:40px;
}

.eleve_tabs LI {
    display:inline-block;
    width:175px;
    border:1px solid #DDD;
    padding:4px 12px;
    background-color: #F5F5F5;
    height:inherit;
    text-align: center;
}
.eleve_tabs LI.toggle_active {
    border-bottom:1px solid white;
    background-color:white;
}
.eleve_tabs_body {
    padding:20px;
    border:1px solid #DDD;
    border-top-width: 0px;
    /*height:420px;*/
    display:block;
}
.eleve_tabs_body EM {
    display:table-cell;
    font-style: italic;
    color:#5CAB18;
    margin:0px auto;
}
.TODO {
    font-family: 'Carter One', cursive;
    color:red;
    font-weight:bold;
    font-size:20px;
}

.panel-eleve {
    position:relative;
    font-family: 'Carter One', cursive;

    color:#5CAB18;
    background-color: #F5F5F5;
    border-color: #DDD;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    margin-top:20px;
    margin-bottom: 10px !important;
    margin-right:10px !important;
    padding: 10px 15px;
    height:80px;
}
.panel-eleve div {
    display: inline-block;
    position:absolute;
    right:20px;
    top:0px;

    font-family: 'Open Sans';
    font-weight: normal;

    text-align: right;
    width:150px;
}
.panel-eleve span {
    display:table-cell;
    height:60px;
    width:300px;
    vertical-align: middle;
}
.error {
    color:red;
}
