.barre__footer
{
    color: black;
    text-align: center;
    font-size: 1.2em;
    border-top: 1px solid #C5BDB5;
    margin-top: 70px;
    padding: 30px 0 10px;

}
.navbar-default{
    background-color: #F6773D;
    border-bottom: solid 4px #f4550c;

}
.navbar-fixed-top{
    position:fixed;
    right: 0;
}
.navbar-header a{
    margin-left: 100px;
}

.navbar-default .navbar-brand
{
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Carter One', cursive;
}

.panel-heading {
    color:#5CAB18;
    font-family: 'Carter One', cursive;
    background-color: inherit;
    margin-bottom: -10px !important;


}
.panel  {
    border: transparent;
    margin-bottom: 150px;
    height: 200px;
    box-shadow: none!important;

}
.panel-info>.panel-heading,
.panel-success>.panel-heading{
    background-color: transparent;
    border: none;


}
.panel-title{
    color: #5CAB18;
    font-size:22px;
    text-align: center;
    margin-bottom: 30px;

}
.panel-body{
    height: 700px;
    text-align: center;
    margin-left: 30px;
    display: block;
    padding: 25px;

}
.panel-default{
    border-color: #ddd;

}
.panel-body-1{
    box-sizing: inherit;
    text-align:left;
    padding:15px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px 0px #cfcfcf;



}
label {
    font-family: 'Open Sans';
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333333;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}
.btn-primary{
    color: #fff;
    background-color: #5CAB18;
    border-color: #509515;
    -webkit-appearance: textfield;
    padding: 10px;
    margin-top: 20px;

}
.btn-primary:hover {
   background-color:  #335f0d;

}
.btn-success{
    padding:10px;
    margin-top: 55px !important;
    background-color: #5CAB18;
}
.btn-success:hover{
    background-color:  #335f0d;
}
p{
    diplay:block;
    text-align: left;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    width: 1170px;
    margin: 80px auto;
    font-size: 18px;
}
.welcome {
    font-family: 'Carter One';
    margin: 90px auto;
    text-align: center;
    color: #7A2903;
}
.center-block {
    max-height: 200px;
    margin-bottom: 20px;
}
#logout{
    float:right;
    font-size: 1.8em;
    margin-right: 20px;
    margin-top: 5px;
    color: white;
}
.fa-phone{
    margin-right: 5px;
}
.body{
    font-size: 16px;
}
.ecureuil button
{
    border-style: ridge;
    background:#99ffcc;
    border-radius: 20px;
    padding:10px;
    margin:0;
    width:auto;
    height:auto;
    overflow:visible;
    text-align:center;
    white-space:nowrap;
    height:90px;
    margin-bottom: 20px;
}
.fleur button
{
    border: ridge;
    background:#ff99cc;
    border-radius: 20px;
    padding:20px;
    margin:0;
    width:auto;
    overflow:visible;
    text-align:center;
    white-space:nowrap;
    height:90px;
    margin-bottom: 20px;
    padding-top: 2px;

}
.roland button
{
    border: ridge ;
    background:#ecb3ff;
    border-radius: 20px;
    padding:0;
    margin:0;
    width:auto;
    height:auto;
    overflow:visible;
    text-align:center;
    white-space:nowrap;
    height:90px;

}

button span, button em
{
    display:inline-block;
    height:90px;
    line-height:20px;
    margin:5px;
    color:black;
    font-size: 16px;
    font-family: 'Carter One', cursive;
    text-shadow: 5px 5px 5px white;
}
button span
{
    padding-left:20px;
    background: no-repeat 0 0;
}

button em
{
    font-style:normal;
    padding-right:20px;
    background: no-repeat 100% 0;
}
a{
    color:#5CAB18;
}

.btn__retour
{
    float: left;
}