<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}plop{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/gestygesty/css/style.css') }}" type="text/css" />
    {% endblock %}
</head>
<body>
{% block header %}
    {% include "GestyGestyBundle:Includes:indexheader.html.twig" %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    {% include "GestyGestyBundle:Includes:indexfooter.html.twig" %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>