{% extends '::base.html.twig' %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    <h2>Bienvenue</h2>
{% endblock fos_user_content %}
