{% extends '::base.html.twig' %}
{% block body %}

    {% for school in schools %}

        <div class="school school-{{ loop.index % 3 }}">
            <button><a href="{{ path('wcs_cantine_todayList', {'schoolId': school.id}) }}"><span><em>{{ school.name }}</em></span></a></button>
        </div>

    {% endfor %}

{% endblock %}