{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        {% for school in schools %}
            <div class="school school-{{ loop.index % 3 }}">
                <button class="col-sm-offset-4 col-md-offset-4"><i class="fa fa-home fa-2x"></i><a href="{{ path('wcs_cantine_todayList', {'schoolId': school.id}) }}"><span>{{ school.name }}</span></a></button>
            </div>
        {% endfor %}
            <div class="commande">
                <button class="col-sm-offset-4 col-md-offset-4"><i class="fa fa-cutlery fa-2x"></i><a href="{{ path('reserve_meal') }}"><span>Commande des repas </span></a></button>
            </div>
    </div>

{% endblock %}