<a class="btn btn-sm btn-default edit_link" title="inscrire à un/des voyage(s)" href="{{ admin.generateObjectUrl('edit', object) }}">
    <i class="glyphicon glyphicon-edit"></i>
    inscrire à un/des voyage(s)
</a>
