{% extends '::base.html.twig' %}

{% block body %}

    <table>

        <tr>
            <td>Enfants inscrits</td>
        </tr>
            {% for eleve in aujourdhui %}
        <tr>
            {{ eleve.prenom }} {{ eleve.nom }}<br />
        </tr>
            {% endfor %}
    </table>


{% endblock %}
