<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    {% if app.user %}
                    Gesty
                    {% endif %}
                </div>
            </div>
            {% if app.user %}
                <a href="{{ path('fos_user_security_logout') }}" id="logout">
                    <i class="fa fa-power-off"></i>
                </a>
            {% endif %}
        </div>
    </nav>
</header>
