<footer>
    <nav class="navbar">

            <div class="container-fluid barre__footer">
                <div class="col-md-2 col-md-offset-2">
                    <a href="http://www.ville-la-loupe.com/">
                        <img class="img-responsive center-block img-thumbnail logo_laloupe" src="{{ asset('bundles/wcscantine/images/logo_laloupe.jpg') }}" alt="Logo de La Loupe">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Mairie<br>Place de l'hôtel de ville<br>28240 La Loupe</p>
                        </div>
                        <div class="col-md-6">
                            <p>Tel: 02.37.81.10.20<br>Fax: 02.37.81.26.56<br><a href="mailto:mairie@ville-la-loupe.com">mairie@ville-la-loupe.com</a><br></p>
                        </div>
                    </div>
                    <p>Ouverture au public du <strong>lundi au vendredi</strong> de <strong>9h à 12h15</strong> et de <strong>15h à 17h15</strong></p>
                </div>
            </div>
    </nav>
</footer>