{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block body %}
    !! SITE EN MAINTENANCE !! </br>
    </br>

    Merci de compléter le formulaire ci-dessous pour pouvoir inscrire vos enfants

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeR5_xmz1XUHLe268qjkTUZOGJIm5VEM6_X5P-a1eMk348rAw/viewform?usp=send_form" target="_blank"><input type="button" value="Inscritpion de vos enfants" class="btn-carte"> </a>
{% endblock %}