{% extends "::base.html.twig" %}
{% block title%}Profile{% endblock %}

{% block pageTitle %}{% endblock %}

{% block header %}
    {% include "GestyGestyBundle:Includes:indexheader.html.twig" %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>
{% endblock %}

{% block footer %}
    {% include "GestyGestyBundle:Includes:indexfooter.html.twig" %}
{% endblock %}