{% block subject %}Changement de votre mot de passe{% endblock %}

{% block body_html %}
    <div class="lien">
        <p> Bonjour !</p><br/>

        <p>
            Pour définir votre nouveau mot de passe, veuillez cliquer sur le lien suivant pour vous reconnecter a Gesty :
        </p>
        <p>
            <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
        </p>
        <p>
            Si vous ne parvenez pas à cliquer sur ce lien, copiez ce lien et collez-le dans la barre d'adresse
            de votre navigateur pour y accéder.
        </p>

        <br/>

    </div>


    l'Administrateur de Gesty
{% endblock %}
