{# src/WCS/CantineBundle/Resources/views/User/registration.email.twig #}

{% block subject %}Confirmation d'inscription{% endblock %}

{% block body_html %}
    <div class="lien">
    <p> Bonjour Mr/Mme {{ user.lastname }}  {{ user.firstname }} !</p><br/>

        <p>Merci de valider votre inscription en cliquant sur le lien suivant : {{ confirmationUrl }}</p><br/>

    </div>


    Administrateur de Gesty
{% endblock %}